* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 100px;
  width: 1000px;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  background: black;
}

label {
  margin-bottom: 5px;
  display: inline-block;
  font-size: 1.5rem;
}

input {
  margin-right: 20px;
  font-size: 1.5rem;
}

textarea {
  width: 350px;
  font-size: 1.5rem;
}

button {
  position: relative;
  width: 100%;
}

.logo {
  width: 140px;
}

.text {
  width: 350px;
  height: 50px;
}

.title {
  font-size: 2rem;
  margin-bottom: 15px;
  display: inline-block;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.submit {
  font-size: 2.2rem;
  background: lightgreen;
  padding: 0px 100px;
}

.reset {
  background: red;
}
